

#features{
    padding: 7% 10%;
}

#fea-head{
    font-size: x-large;
    margin-bottom: 5%;
    font-weight: 600;
}

.feaCards{
    padding: 5%;
    border-radius: 30px !important;
    transition: all 1s ease-in-out;
}

.feaCards:hover{
    box-shadow: 5px 6px 2px 0px #ff80c3;
}

.fbtns{
    padding: 2.5% 5% !important;
    border: 1px solid #FF74B1;
    background: none;
    font-size: medium;
    color: #FF74B1;
    font-weight: bold;
    transition: all 0.6s;
    border-radius: 30px;
}

.fbtns:hover{
    background: #ff65a844;
    border: 1px solid #ff65a800;
    cursor: pointer;
    color: white;
}